body {
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
}

.container {
    max-width: 20rem;
    background-color: white;
    padding: 15px;
    border-radius: 17px;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tittle {
    font-size: 1.4rem;
    color: var(--tittle);
}

.qrcode img {
    display: block;
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}

.container p {
    color: var(--text);
    font-size: 1rem;
    padding: 13px 10px;
    margin-bottom: 15px;
}